.App {
  text-align: center;
}


.main-bg {
  height: 300px;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: center;

}

a {
  text-decoration: none !important;
  color: black !important;
}

.Card-ID {
  display: inline-block;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opactiy 1.5s;
}